# Beautiful Soup-WebScraping

Submitted by Nethravathi S.  Batch No:1831

In [2]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\nethravathi s\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\nethravathi s\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\nethravathi s\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: requests in c:\users\nethravathi s\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nethravathi s\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\nethravathi s\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\nethravathi s\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\nethravathi s\anaconda3\lib\site-packages (from requests) (1.25.11)

In [3]:
#importing the required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

### Q1. Write a python program to display all the header tags from‘en.wikipedia.org/wiki/Main_Page’

In [3]:
#send get request to the webpage server to get the source code of the page
page1 = requests.get("https://en.wikipedia.org/wiki/Main_Page")
page1

In [4]:
# page content
soup=BeautifulSoup(page1.content)

soup = BeautifulSoup(page1.text,"html.parser")
                     
Header_tags = [] # empty list
for i in soup.find_all(["h1","h2","h3","h4","h5","h6"]):
    Header_tags.append(i.text.replace("\n",""))
    
# print all header_tags
Header_tags

['Main Page',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages',
 'Navigation menu',
 'Personal tools',
 'Namespaces',
 'Variants',
 'Views',
 'More',
 'Search',
 'Navigation',
 'Contribute',
 'Tools',
 'Print/export',
 'In other projects',
 'Languages']

### Q2.Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release)

In [35]:
# send get request to the webpage of the server to get the source code of the page
page2 = requests.get("https://www.imdb.com/list/ls091520106/")
page2

In [36]:
# page content
soup=BeautifulSoup(page2.content)

In [37]:
soup = BeautifulSoup(page2.text,"html.parser")

In [38]:
# Scrap movie names
name = soup.find_all('h3',class_="lister-item-header")

# parse movie names
movies_name = []  #empty list
for i in name:
    for j in i.find_all("a"):
        movies_name.append(j.text.replace('\n',' ').strip())
movies_name

['The Shawshank Redemption',
 'The Godfather',
 'The Godfather: Part II',
 'The Dark Knight',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'Il buono, il brutto, il cattivo',
 'Fight Club',
 'Joker',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Forrest Gump',
 'Inception',
 'Star Wars: Episode V - The Empire Strikes Back',
 'The Lord of the Rings: The Two Towers',
 'The Matrix',
 "One Flew Over the Cuckoo's Nest",
 'Goodfellas',
 'Shichinin no samurai',
 'Se7en',
 'Cidade de Deus',
 'La vita è bella',
 'The Silence of the Lambs',
 'Star Wars',
 "It's a Wonderful Life",
 'Saving Private Ryan',
 'Sen to Chihiro no kamikakushi',
 'The Green Mile',
 'Léon',
 'Seppuku',
 'Interstellar',
 'The Usual Suspects',
 'The Lion King',
 'American History X',
 'Back to the Future',
 'The Pianist',
 'Modern Times',
 'Terminator 2: Judgment Day',
 'The Intouchables',
 'Psycho',
 'Gladiator',
 'City Lights',
 'The Departed',
 'Whiplash',
 'Once Upon a Time in the West',
 'The Prestige',
 'Avengers: Endgame',
 'Casablanca',
 'Hotaru no haka',
 'Rear Window',
 'Nuovo Cinema Paradiso',
 'Alien',
 'Raiders of the Lost Ark',
 'Memento',
 'Apocalypse Now',
 'The Great Dictator',
 'The Lives of Others',
 'Avengers: Infinity War',
 'Django Unchained',
 'Spider-Man: Into the Spider-Verse',
 'The Shining',
 'Paths of Glory',
 'WALL·E',
 'Sunset Blvd.',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'Mononoke-hime',
 'Oldeuboi',
 'Witness for the Prosecution',
 'The Dark Knight Rises',
 'Once Upon a Time in America',
 'Gisaengchung',
 'Aliens',
 'American Beauty',
 'Coco',
 'Kimi no na wa.',
 'Braveheart',
 'Das Boot',
 '3 Idiots',
 'Taare Zameen Par',
 'Star Wars: Episode VI - Return of the Jedi',
 'Toy Story',
 'Reservoir Dogs',
 'Amadeus',
 'Dangal',
 'Good Will Hunting',
 'Inglourious Basterds',
 'M - Eine Stadt sucht einen Mörder',
 'Requiem for a Dream',
 '2001: A Space Odyssey',
 'Vertigo',
 'Eternal Sunshine of the Spotless Mind',
 'Citizen Kane',
 'Full Metal Jacket',
 'Jagten',
 'North by Northwest',
 'A Clockwork Orange',
 'Snatch',
 "Le fabuleux destin d'Amélie Poulain",
 'The Kid']

In [39]:
len(movies_name)

100

In [40]:
# Scrap IMDB ratings for movies
ratings = soup.find_all("div",class_="ipl-rating-star small")

# parse ratings
movie_ratings = []  # empty list
for i in ratings:
    movie_ratings.append(i.text.replace('\n',' ').strip())
movie_ratings

['9.3',
 '9.2',
 '9',
 '9',
 '9',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.4',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.6',
 '8.3',
 '8.3',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3']

In [41]:
len(movie_ratings)

100

In [42]:
# year of release
year = soup.find_all("span",class_="lister-item-year text-muted unbold")

Release_year= []  #empty lsit
for i in year:
        Release_year.append(i.text.replace('(','').replace(')',''))
Release_year

['1994',
 '1972',
 '1974',
 '2008',
 '1957',
 '1993',
 '2003',
 '1994',
 '1966',
 '1999',
 '2019',
 '2001',
 '1994',
 '2010',
 '1980',
 '2002',
 '1999',
 '1975',
 '1990',
 '1954',
 '1995',
 '2002',
 '1997',
 '1991',
 '1977',
 '1946',
 '1998',
 '2001',
 '1999',
 '1994',
 '1962',
 '2014',
 '1995',
 '1994',
 '1998',
 '1985',
 '2002',
 '1936',
 '1991',
 '2011',
 '1960',
 '2000',
 '1931',
 '2006',
 '2014',
 '1968',
 '2006',
 '2019',
 '1942',
 '1988',
 '1954',
 '1988',
 '1979',
 '1981',
 '2000',
 '1979',
 '1940',
 '2006',
 '2018',
 '2012',
 '2018',
 '1980',
 '1957',
 '2008',
 '1950',
 '1964',
 '1997',
 '2003',
 '1957',
 '2012',
 '1984',
 '2019',
 '1986',
 '1999',
 'I 2017',
 '2016',
 '1995',
 '1981',
 '2009',
 '2007',
 '1983',
 '1995',
 '1992',
 '1984',
 '2016',
 '1997',
 '2009',
 '1931',
 '2000',
 '1968',
 '1958',
 '2004',
 '1941',
 '1987',
 '2012',
 '1959',
 '1971',
 '2000',
 '2001',
 '1921']

In [43]:
len(Release_year)

100

In [44]:
print(len(movies_name),len(movie_ratings),len(Release_year))

100 100 100

### Storing the scraped data

In [45]:
# dataframe for top 100 movies in IMDB
top_100_movies = pd.DataFrame({})
top_100_movies['Movies Name'] = movies_name
top_100_movies['Ratings'] = movie_ratings
top_100_movies['Release Year'] = Release_year
top_100_movies

                            Movies Name Ratings Release Year
0              The Shawshank Redemption     9.3         1994
1                         The Godfather     9.2         1972
2                The Godfather: Part II       9         1974
3                       The Dark Knight       9         2008
4                          12 Angry Men       9         1957
..                                  ...     ...          ...
95                   North by Northwest     8.3         1959
96                   A Clockwork Orange     8.3         1971
97                               Snatch     8.3         2000
98  Le fabuleux destin d'Amélie Poulain     8.3         2001
99                              The Kid     8.3         1921

[100 rows x 3 columns]

In [46]:
len(top_100_movies)

100

### Q3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release).

In [47]:
# send get request to the webpage of the server to get the source code of the page
page3 = requests.get("https://www.imdb.com/india/top-rated-indian-movies/")
page3

In [48]:
# Checking the page content
soup = BeautifulSoup(page3.content)

In [49]:
soup = BeautifulSoup(page3.text,'html.parser')

In [50]:
# Scrap top 100 Indian movie names
name = soup.find_all('td',class_="titleColumn")

# parse movie names
Indian_movies_name = []  #empty list
for i in name:
    for j in i.find_all("a"):
        Indian_movies_name.append(j.text.replace('\n',' '))
Indian_movies_name = Indian_movies_name[:100]
Indian_movies_name

['Nayakan',
 'Pariyerum Perumal',
 'Anbe Sivam',
 'C/o Kancharapalem',
 'Golmaal',
 'Pather Panchali',
 'Apur Sansar',
 'Manichitrathazhu',
 'Kireedam',
 'Natsamrat',
 '96',
 'Thevar Magan',
 'Black Friday',
 'Kumbalangi Nights',
 'Visaaranai',
 '3 Idiots',
 'Drishyam 2',
 'Soorarai Pottru',
 'Jersey',
 'Taare Zameen Par',
 'Thalapathi',
 'Asuran',
 'Dangal',
 'Kaithi',
 'Ratsasan',
 'Devasuram',
 'Aparajito',
 'Jaane Bhi Do Yaaro',
 'Sarpatta Parambarai',
 'Pyaasa',
 'Vada Chennai',
 'Peranbu',
 'Guide',
 'Thani Oruvan',
 'Kannathil Muthamittal',
 'Iruvar',
 'Chupke Chupke',
 'Spadikam',
 'Agent Sai Srinivasa Athreya',
 'Super Deluxe',
 'Drishyam',
 'Mahanati',
 'Aruvi',
 'Vikram Vedha',
 'Khosla Ka Ghosla!',
 'Tumbbad',
 'Pudhu Pettai',
 'Premam',
 'Anniyan',
 'Anand',
 'Kaakkaa Muttai',
 'Mudhalvan',
 'Bangalore Days',
 'Dhuruvangal Pathinaaru',
 'Papanasam',
 'Satya',
 'Andhadhun',
 'Soodhu Kavvum',
 'Shahid',
 'Jigarthanda',
 'Gangs of Wasseypur',
 'Pithamagan',
 'Paan Singh Tomar',
 'Bhaag Milkha Bhaag',
 'Hera Pheri',
 'Sairat',
 'Talvar',
 'Sholay',
 'Swades: We, the People',
 'Chak De! India',
 'Ustad Hotel',
 'Black',
 'Drishyam',
 'Jo Jeeta Wohi Sikandar',
 'Zindagi Na Milegi Dobara',
 'Mughal-E-Azam',
 'Maheshinte Prathikaaram',
 'Nil Battey Sannata',
 'Udaan',
 'Charulata',
 'Theeran adhigaaram ondru',
 'Article 15',
 'A Wednesday',
 'Queen',
 'Masaan',
 'Munna Bhai M.B.B.S.',
 'Alai Payuthey',
 'Sarfarosh',
 'Baasha',
 'Dil Chahta Hai',
 'OMG: Oh My God!',
 'Chhichhore',
 'Roja',
 'Rang De Basanti',
 'Virumandi',
 'Andaz Apna Apna',
 'Lagaan: Once Upon a Time in India',
 'Kahaani',
 'Uri: The Surgical Strike',
 'PK']

In [51]:
len(Indian_movies_name)

100

In [52]:
# Scrap IMDB ratings for Indian movies
ratings = soup.find_all('td', class_="ratingColumn imdbRating")

# parse ratings
movie_ratings = []
for i in ratings:
    movie_ratings.append(i.text.replace('\n',' ').strip())
movie_ratings = movie_ratings[:100]
movie_ratings

['8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1']

In [53]:
len(movie_ratings)

100

In [54]:
# Scrap the year of release
year_of_release = soup.find_all("span",class_="secondaryInfo")

#parse release year
Release_year= []  #empty lsit
for i in name:
    for j in i.find_all("span"):
        Release_year.append(j.text.replace('(','').replace(')',''))
Release_year = Release_year[:100]
Release_year

['1987',
 '2018',
 '2003',
 '2018',
 '1979',
 '1955',
 '1959',
 '1993',
 '1989',
 '2016',
 '2018',
 '1992',
 '2004',
 '2019',
 '2015',
 '2009',
 '2021',
 '2020',
 '2019',
 '2007',
 '1991',
 '2019',
 '2016',
 '2019',
 '2018',
 '1993',
 '1956',
 '1983',
 '2021',
 '1957',
 '2018',
 '2018',
 '1965',
 '2015',
 '2002',
 '1997',
 '1975',
 '1995',
 '2019',
 '2019',
 '2013',
 '2018',
 '2016',
 '2017',
 '2006',
 '2018',
 '2006',
 '2015',
 '2005',
 '1971',
 '2014',
 '1999',
 '2014',
 '2016',
 '2015',
 '1998',
 '2018',
 '2013',
 '2012',
 '2014',
 '2012',
 '2003',
 '2012',
 '2013',
 '2000',
 '2016',
 '2015',
 '1975',
 '2004',
 '2007',
 '2012',
 '2005',
 '2015',
 '1992',
 '2011',
 '1960',
 '2016',
 '2015',
 '2010',
 '1964',
 '2017',
 '2019',
 '2008',
 '2013',
 '2015',
 '2003',
 '2000',
 '1999',
 '1995',
 '2001',
 '2012',
 '2019',
 '1992',
 '2006',
 '2004',
 '1994',
 '2001',
 '2012',
 '2018',
 '2014']

In [55]:
len(Release_year)

100

In [56]:
print(len(Indian_movies_name),len(movie_ratings),len(Release_year))

100 100 100

### Storing the scraped data

In [57]:
# dataframe for top 100  Indiam movies in IMDB
top_100_movies = pd.DataFrame({})
top_100_movies['Movies Name'] = Indian_movies_name
top_100_movies['Ratings'] = movie_ratings
top_100_movies['Year of Release'] = Release_year
top_100_movies

                          Movies Name Ratings Year of Release
0                             Nayakan     8.5            1987
1                   Pariyerum Perumal     8.5            2018
2                          Anbe Sivam     8.5            2003
3                   C/o Kancharapalem     8.5            2018
4                             Golmaal     8.5            1979
..                                ...     ...             ...
95                    Andaz Apna Apna     8.1            1994
96  Lagaan: Once Upon a Time in India     8.1            2001
97                            Kahaani     8.1            2012
98           Uri: The Surgical Strike     8.1            2018
99                                 PK     8.1            2014

[100 rows x 3 columns]

In [58]:
len(top_100_movies)

100

### Q4. Write a python program to scrap book name, author name, genre and book review of any 5 books from‘www.bookpage.com'

In [104]:
#send get request to the webpage server to get the source code of the page
page4 = requests.get("https://bookpage.com/reviews/")
page4

In [105]:
#page content
soup = BeautifulSoup(page4.content,'html.parser')

In [106]:
# Extract books URL
url_tags = soup.find_all("h4",class_="italic")
url_tags

[<h4 class="italic">
 <a href="/reviews/26469-derek-b-miller-how-to-find-your-way-dark-fiction"> <span style="font-style:normal;">★ </span>How to Find Your Way in the Dark</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26544-k-b-wagers-hold-fast-through-fire-science-fiction-fantasy">Hold Fast Through the Fire</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26542-darynda-jones-good-day-chardonnay-mystery-suspense">A Good Day for Chardonnay</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26466-mona-awad-alls-well-fiction">All’s Well</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26490-rodrigo-garcia-farewell-to-gabo-mercedes-nonfiction"> <span style="font-style:normal;">★ </span>A Farewell to Gabo and Mercedes</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26474-jeanne-thornton-summer-fun-fiction"> <span style="font-style:normal;">★ </span>Summer Fun</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26536-malla-nunn-sugar-town-queens-ya"> <span style="font-style:normal;">★ </span>Sugar Town Queens</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26462-natalie-baszile-we-are-each-others-harvest-audio">We Are Each Other’s Harvest</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26485-jerry-spinelli-dead-wednesday-childrens"> <span style="font-style:normal;">★ </span>Dead Wednesday</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/26461-casey-wilson-wreckage-my-presence-audio">The Wreckage of My Presence</a>
 </h4>]

In [162]:
# To get the links
urls = []
for i in url_tags:
    for j in i.find_all("a", href=True):
        if j.text:
            urls.append(j['href'])
urls

['/reviews/26469-derek-b-miller-how-to-find-your-way-dark-fiction',
 '/reviews/26544-k-b-wagers-hold-fast-through-fire-science-fiction-fantasy',
 '/reviews/26542-darynda-jones-good-day-chardonnay-mystery-suspense',
 '/reviews/26466-mona-awad-alls-well-fiction',
 '/reviews/26490-rodrigo-garcia-farewell-to-gabo-mercedes-nonfiction',
 '/reviews/26474-jeanne-thornton-summer-fun-fiction',
 '/reviews/26536-malla-nunn-sugar-town-queens-ya',
 '/reviews/26462-natalie-baszile-we-are-each-others-harvest-audio',
 '/reviews/26485-jerry-spinelli-dead-wednesday-childrens',
 '/reviews/26461-casey-wilson-wreckage-my-presence-audio']

In [163]:
book_name = [] #empty list
author_name = [] #empty list
book_genre = [] #empty list
books_review = [] #empty list

for url in urls:
        book = requests.get('https://www.bookpage.com'+url)
        soup = BeautifulSoup(book.content, 'html.parser')
        book_name.append(soup.find('h1').text.replace('\n','').replace('★',''))  # scrape books name
        author_name.append(soup.find('h4').text.replace('\n',''))  # scrape books author name
        book_genre.append(soup.find('p', class_="genre-links").text.replace('\n',''))   # scrape books genre
        books_review.append(soup.find('div', class_= "article-body").text.replace('\n',''))  # scrape books review

In [122]:
book_name = book_name[:5]
book_name

[' How to Find Your Way in the Dark',
 'Hold Fast Through the Fire',
 'A Good Day for Chardonnay',
 'All’s Well',
 ' A Farewell to Gabo and Mercedes']

In [123]:
len(book_name)

5

In [124]:
author_name = author_name[:5]
author_name

['Derek B. Miller',
 'K.B. Wagers',
 'Darynda Jones',
 'Mona Awad',
 'Rodrigo García']

In [125]:
len(author_name)

5

In [126]:
book_genre = book_genre[:5]
book_genre

['Fiction / Coming of Age',
 'Science Fiction & Fantasy / Science Fiction',
 'Mystery & Suspense / Mystery',
 'Fiction / Literary Fiction',
 'Nonfiction / Memoir / Family & Relationships']

In [127]:
len(book_genre)

5

In [128]:
books_review = books_review[:5]
books_review

['Prepare for surprises galore in How to Find Your Way in the Dark, a rollicking novel that begins with a lonely truck ride in New England in 1938 and follows its characters through a decade of fascinating history. Just when you think the story is heading one way, it veers in another, completely unexpected direction.Twelve-year-old Sheldon Horowitz and his father are driving home from Hartford, Connecticut, to Whately, Massachusetts, after honoring the one-year anniversary of Sheldon’s mother’s death. She and her sister died in a horrific movie theater fire in Hartford. And as if that isn’t enough tragedy for the novel’s first 13 pages, a truck purposely forces Sheldon and his father’s car off the road during their return trip, and Sheldon’s father dies.Readers of Derek B. Miller’s award-winning thriller, Norwegian by Night, will recognize Sheldon as that novel’s 82-year-old protagonist. As a Tom Sawyer-like boy in How to Find Your Way in the Dark, Sheldon is determined to make sense of his double tragedies, and his attempts to do so take the reader on one hell of a ride. As he seeks out the leering, mustached truck driver who killed his father, his quest leads him straight into danger—think mobsters, guns and jewel thefts.Miller has crafted a wide-ranging, years-spanning yet tightly structured plot, and he excels at placing memorable characters in unusual circumstances. Sheldon is joined in his adventures by his two older cousins, Abe and Mirabelle, and his best friend, Lenny, all of whom play pivotal roles. One summer, Lenny and Sheldon end up as bellhops at the famed Grossinger’s Resort in the Catskills, where Lenny practices standup comedy amid the glamorous, bustling atmosphere.An underlying seriousness lies at the heart of all of this intrigue, hilarity and fun. Sheldon, Abe, Mirabelle and Lenny, all Jewish, must confront the many faces of antisemitism during the turbulent years of World War II. Miller weaves in a multitude of historical details, including reports of the horrors in Europe and America’s reluctance to intervene.The ending of How to Find Your Way in the Dark is nothing short of brilliant, tying up a variety of loose ends while making a powerful statement about the need to fully recognize and address antisemitism. Readers are left with much to ponder, including life’s many uncertainties and cruel twists of fate. Despite these unhappy truths, we are also left with the uplifting wisdom of Lenny’s urgent prayer: “Dear God, give me the strength to be joyful.”',
 'Looking for a quick bit of adrenaline, a spot of intrigue and the drama of an international sports event? Look no further than the second entry in K.B. Wagers’ NeoG series, Hold Fast Through the Fire.This second book in the author’s military science fiction series picks up roughly a year after the events of A Pale Light in the Black. The crew of Zuma’s Ghost have achieved a repeat victory at the intermilitary Boarding Games, which was quite an achievement given that the Near-Earth Orbital Guard (NeoG) are looked down upon by other branches of the armed forces. Zuma’s Ghost is facing a change of staff, and everyone is uneasy about what that means for the future of the ship. The prelims for the next year’s Games are fast approaching, and the Ghost has been put on a new task force to investigate potential smuggling issues from off-world settlements.Nika, still off balance from the loss of his hand, is apprehensive about his new command on Zuma’s Ghost, despite the fact that it was the ship where he cut his teeth as a budding lieutenant. His budding romance with Maxine Carmichael is on the rocks, and to make things worse, he has accepted a secret assignment that will put both Max’s and the crew’s trust to the test. Chae, Zuma’s Ghost’s new pilot, has issues of their own. Forced into the NeoG as part of a plea bargain, they are torn between their growing loyalty to their new crew and the need to keep their fathers safe from intergalactic intrigue. Meanwhile, Max is certain something is desperately wrong with Nika, Chae and their new assignment, but no one will back her up. With Nika effectively gaslighting her to throw her off the scent of his new top-secret mission, Max will have to hew closely to her own instincts if she is going to get the team through the prelims in one piece—let alone their official assignment.Unlike A Pale Light in the Black, Hold Fast Through the Fire’s central mystery begins unrolling nearly at page one, giving the book a more sinister feel than its predecessor and pulling readers into a labyrinthine plot that surprises and delights. This does take away slightly from the Games aspect of the series, but readers who enjoyed A Pale Light in the Black’s focus on the competition won’t be disappointed. When training for the Games does make its appearance, it still packs the same adrenaline-filled punch of A Pale Light in the Black. Despite the increase in intrigue, Wagers devotes ample attention to the relationships among the crew of Zuma’s Ghost. From the exploration of Jenks’ and Max’s close friendship to Chae’s struggles to fit in with the group to Nika’s battle to accept himself after his accident, Hold Fast Through the Fire is as much about found family and interpersonal relationships as it is about mysteries or the Boarding Games.This brilliant and entertaining installment in the NeoG universe is a great choice for readers looking for military drama, evocative writing and espionage.',
 'Readers who enjoy murder mysteries\xa0with lots of intertwined plotlines, quirky characters and zany hijinks topped off with a healthy dose of horniness will be delighted by bestselling author Darynda Jones’ A Good Day for Chardonnay.The small tourist town of Del Sol, New Mexico, is populated by unruly residents who are staunchly community-minded and happen to be, per Sheriff Sunshine Vicram’s hilariously lusty inner monologues, quite desirable. To wit, her chief deputy and BFF Quincy is “sexy feet, AF inches” tall. And her lifelong crush, local-badboy-turned-wealthy-distillery-owner Levi Ravinder? Well, he and his crime-aficionado family look “as though [they were] chiseled by the gods . . . [with] lean, solid bodies and razor-sharp jawlines.”But while Sunshine is often mightily distracted by eye candy, she’s also dedicated to—and excellent at—her job. She’s been back in town for four months after being away for 15 years, and she has multiple mysteries to solve. The newest include a bar fight gone terribly wrong; resurfaced cold cases with ties to her own traumatic past; and a raft of false confessions. On top of that, the mayor is pressuring her to figure out if the Dangerous Daughters secret society (rumored to have run the town for decades) is real or just local legend.And then there’s Sunshine’s daughter Auri, whom fans met in series kickoff A Bad Day for Sunshine. The smart, reckless teenager is determined to solve crimes just like her mom, and she pursues a sweet old lady who might be a serial killer. Auri is also Sunshine’s personal mystery: at 17, the sheriff was abducted by Levi’s uncle and held captive for five days, after which she emerged pregnant and with severe memory loss.Will Levi’s family finally answer Sunshine’s questions about her abduction? Can she catch the marauding raccoon that’s terrorizing the town? How are the cold cases tied to these complex new crimes? With her trademark warmth and humor, Jones answers some of these questions and raises even more, nicely teeing up the next installment in Sunshine’s complicated, sexy and highly entertaining life story.',
 'Miranda Fitch, the protagonist of Mona Awad’s third novel, All’s Well, might best be described—to borrow the title of the 1988 Pedro Almodóvar film—as a woman on the verge of a nervous breakdown. A professor of theater studies at a small liberal arts college in Massachusetts, she’s laboring mightily to stage a student production of Shakespeare’s All’s Well That Ends Well, which she thinks of as a “problem play,” one that’s “neither a tragedy nor a comedy. Both, always both.”Apart from a rebellious cast, Miranda’s primary obstacle is unremitting pain from an injury she sustained when she tumbled from a stage during her promising but brief acting career. The resulting hip injury led to serious back problems unrelieved by the ministrations of a string of doctors and physical therapists, transforming Miranda, divorced and not yet 40 years old, into a pill-gobbling automaton who has abandoned all hope of her own happy ending.All’s Well quickly leaves behind this depressingly naturalistic scenario to veer into the realm of fabulism when Miranda encounters three mysterious men in a local pub. The trio, who inexplicably have intimate knowledge of her life and struggles, grace her with what seems like a miracle cure. But as she discovers, even healing can come at a price.Awad efficiently portrays both Miranda’s confrontation with chronic pain and the slowly evaporating patience of the people in her orbit (her ex-husband, Paul; colleague and friend Grace; and Mark, the last in a chain of physical therapists) with her lack of improvement. Anyone who’s been similarly afflicted or knows someone who has will recognize this scenario. Awad leaves it to the reader to assess how much of Miranda’s mental turmoil is the product of an inexplicable but desperately welcome truce in her battle with pain, and how much flows from her encounter with supernatural forces. It’s a wild, at times over-the-top ride, but like Shakespeare’s eponymous work, there’s both pathos and humor in this story of how we suffer and the ways in which we’re healed.',
 "Rodrigo García is a film and television director, writer, cinematographer and son of the late Nobel winner Gabriel García Márquez, affectionately known as Gabo, author of One Hundred Years of Solitude and Love in the Time of Cholera. When García’s world-famous father began his long slide toward dementia, García began taking notes. “Writing about the death of loved ones must be about as old as writing itself, and yet the inclination to do it instantly ties me up in knots,” he writes. “I am appalled that I am thinking of taking notes, ashamed as I take notes, disappointed in myself as I revise notes.”All who have loved García Márquez’s works will rejoice that his son overcame that angst, dutifully waiting until after his father’s death in 2014 and his mother’s death in 2020 to publish his intimate, endearing tribute, A Farewell to Gabo and Mercedes: A Son’s Memoir of Gabriel García Márquez and Mercedes Barcha. García’s notes, acutely observational, are simultaneously infused with love, respect and the pain of loss. He admits that his relationships with his parents were complicated. Their lives had public, private and even secret components, and García frets about crossing lines that might leave his parents helplessly exposed. Still, from his dying father’s bedside in Mexico City to his last moment with his mother (shared digitally, as COVID-19 prevented him from traveling), García is a guardian of their dignity.\xa0Yet this memoir’s details are indeed intimate. We're ushered into García Márquez's study as he works, until the renowned author slowly realizes he no longer can. García’s mother rises above her grief, insisting that she is a woman, not a widow, as she entertains the flow of mourning guests from around the globe—even the complete stranger who manages to con her out of quite a bit of cash. We follow García into the crematorium as he gazes upon his father for the last time, tempering that blow with the thought that García Márquez might have enjoyed flirting with the funeral worker who gave his body a little makeup, a final flourish on his way out.Fittingly, García begins each chapter with an excerpt from one of his father’s works, and it’s this connection between life and art that holds this intense memoir together. As one epigraph from Love in the Time of Cholera puts it, “he was overwhelmed by the belated suspicion that it is life, more than death, that has no limits.”"]

In [129]:
len(books_review)

5

In [130]:
print(len(book_name),len(author_name),len(book_genre),len(books_review))

5 5 5 5

### Storing the scraped data

In [132]:
# Make data frame 
books=pd.DataFrame({})
books["Book Name"]=book_name
books["Author"]=author_name
books["Genre"]=book_genre
books["Review"]=books_review
books

,Book Name,Author,Genre,Review
0,How to Find Your Way in the Dark,Derek B. Miller,Fiction / Coming of Age,Prepare for surprises galore in How to Find Yo...
1,Hold Fast Through the Fire,K.B. Wagers,Science Fiction & Fantasy / Science Fiction,"Looking for a quick bit of adrenaline, a spot ..."
2,A Good Day for Chardonnay,Darynda Jones,Mystery & Suspense / Mystery,Readers who enjoy murder mysteries with lots o...
3,All’s Well,Mona Awad,Fiction / Literary Fiction,"Miranda Fitch, the protagonist of Mona Awad’s ..."
4,A Farewell to Gabo and Mercedes,Rodrigo García,Nonfiction / Memoir / Family & Relationships,Rodrigo García is a film and television direct...

### Q5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
### i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [167]:
# send get request to the webpage of the server to get the source code of the page
page5 = requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
page5

In [168]:
#see content in page
soup = BeautifulSoup(page5.content)

In [169]:
soup = BeautifulSoup(page5.text,'html.parser')

In [170]:
# Scrape team names
name = soup.find_all("span",class_="u-hide-phablet")

teams_name = []
for i in name:
    teams_name.append(i.text.replace('\n',''))
teams_name = teams_name[:10]
teams_name

['New Zealand',
 'England',
 'Australia',
 'India',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan']

In [171]:
len(teams_name)

10

In [172]:
no_of_matches = [] #empty list
points = [] #empty list
ratings = [] #empty list
new_list = [] #empty list

In [173]:
#Scrape matches
match1 = soup.find_all("td",class_="rankings-block__banner--matches")   #first place team number of matches

no_of_matches = [] #empty list
for i in match1:
    no_of_matches.append(i.text)
no_of_matches

['17']

In [174]:
new_list = []  #emptty list
matches = soup.find_all("td",class_="table-body__cell u-center-text")   #other teams number of matches

for i in matches:
    new_list.append(i.text)
new_list  

for i in range(0,len( new_list),2):
    no_of_matches.append(new_list[i])
no_of_matches = no_of_matches[:10]
no_of_matches

['17', '32', '27', '32', '22', '27', '29', '29', '29', '17']

In [175]:
len(no_of_matches)

10

In [181]:
# Scrape points
pts_1 = soup.find_all("td",class_="rankings-block__banner--points")   #first place team points

points = [] #empty list
for i in pts_1:
    points.append(i.text)

new_list = []  #emptty list
pts = soup.find_all("td",class_="table-body__cell u-center-text")   #other teams points

for i in pts:
    new_list.append(i.text)
new_list  

for i in range(0,len( new_list),2):
    points.append(new_list[i+1])
points = points[:10]
points

['2,054',
 '3,793',
 '3,109',
 '3,624',
 '2,267',
 '2,524',
 '2,639',
 '2,458',
 '2,303',
 '1,054']

In [182]:
len(points)

10

In [195]:
#Scrape ratings
rtgs_1 = soup.find_all("td",class_="rankings-block__banner--rating u-text-right")   #first place team ratings

ratings = [] #empty list
for i in rtgs_1:
    ratings.append(i.text.replace("\n","").strip())


rtgs = soup.find_all("td",class_="table-body__cell u-text-right rating")   #other teams ratings
    
for i in rtgs:
    ratings.append(i.text)
ratings= ratings[:10]
ratings

['121', '119', '115', '113', '103', '93', '91', '85', '79', '62']

In [196]:
len(ratings)

10

In [199]:
print(len(teams_name),len(no_of_matches),len(points),len(ratings))

10 10 10 10

### Storing the scraped data

In [200]:
# Make dataframe of top 10 men's ODI teams
men_odi=pd.DataFrame({})
men_odi['Team_name']=teams_name
men_odi['Matches']=no_of_matches
men_odi['Points']=points
men_odi['Ratings']=ratings
men_odi[:10]

      Team_name Matches Points Ratings
0   New Zealand      17  2,054     121
1       England      32  3,793     119
2     Australia      27  3,109     115
3         India      32  3,624     113
4  South Africa      22  2,267     103
5      Pakistan      27  2,524      93
6    Bangladesh      29  2,639      91
7   West Indies      29  2,458      85
8     Sri Lanka      29  2,303      79
9   Afghanistan      17  1,054      62

In [231]:
len(men_odi)

10

### ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [207]:
#send get request to the webpage server to get the source code of the page
page6 = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
page6

In [211]:
# see content in page6
soup = BeautifulSoup(page6.content)
soup =  BeautifulSoup(page6.text,'html.parser')

In [212]:
players_name = [] #empty list
team_name = [] #empty list
rating = [] #empty list

In [215]:
#Scrape players
player_1 = soup.find_all("div",class_="rankings-block__banner--name-large")  #first place player name

players_name = [] #empty list
for i in player_1:
    players_name.append(i.text)

other_players = soup.find_all("td",class_="table-body__cell rankings-table__name name")  # other players

for i in other_players:
    for j in i.find_all("a"):
        players_name.append(j.text)
players_name = players_name[:10]
players_name

['Babar Azam',
 'Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'David Warner',
 'Shai Hope',
 'Francois du Plessis',
 'Quinton de Kock']

In [216]:
len(players_name)

10

In [221]:
# Scrape team name
team_1 = soup.find_all("div",class_="rankings-block__banner--nationality")   #first place team name

team_name = []  #empty list
for i in team_1:
    team_name.append(i.text.replace("\n",""))

other_teams = soup.find_all("span",class_="table-body__logo-text")  # other teams name

for i in other_teams:
    team_name.append(i.text)
team_name = team_name[:10]
team_name

['PAK', 'IND', 'IND', 'NZ', 'AUS', 'ENG', 'AUS', 'WI', 'SA', 'SA']

In [222]:
len(team_name)

10

In [225]:
# Scrape ratings
rating_1 = soup.find_all("div",class_="rankings-block__banner--rating")    #first place player ratings

rating = []  #empty list
for i in rating_1:
    rating.append(i.text)

others_ratings = soup.find_all("td",class_="table-body__cell rating")      #other players ratings

for i in others_ratings:
    rating.append(i.text)
rating = rating[:10]
rating

['873', '848', '817', '801', '791', '775', '773', '773', '766', '758']

In [228]:
len(rating)

10

In [227]:
print(len(players_name),len(team_name),len(rating))

10 10 10

### Storing the scraped data

In [229]:
# Make data frame of top 10 ODI Batsmen
ODI_Batsmen=pd.DataFrame({})
ODI_Batsmen['Player']=players_name
ODI_Batsmen['Team']=team_name
ODI_Batsmen['Rating']=rating
ODI_Batsmen[:10]

                Player Team Rating
0           Babar Azam  PAK    873
1          Virat Kohli  IND    848
2         Rohit Sharma  IND    817
3          Ross Taylor   NZ    801
4          Aaron Finch  AUS    791
5       Jonny Bairstow  ENG    775
6         David Warner  AUS    773
7            Shai Hope   WI    773
8  Francois du Plessis   SA    766
9      Quinton de Kock   SA    758

In [230]:
len(ODI_Batsmen)

10

### iii) Top 10 ODI bowlers along with the records of their team and rating.

In [237]:
#send get request to the webpage server to get the source code of the page
page7 = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
page7

In [238]:
# see content in page
soup = BeautifulSoup(page7.content)
soup =  BeautifulSoup(page7.text,'html.parser')

In [239]:
bowlers_name = []   #empty list
team_name = []   #empty list
ratings = []   #empty list

In [244]:
#Scrape bowlers name
bowler_1 = soup.find_all("div",class_="rankings-block__banner--name-large")   #first place bowler name

bowlers_name = []   #empty list
for i in bowler_1:
    bowlers_name.append(i.text)

other_bowlers = soup.find_all("td",class_="table-body__cell rankings-table__name name")   #other bowlers name

for i in other_bowlers:
    for j in i.find_all("a"):
        bowlers_name.append(j.text)
bowlers_name = bowlers_name[:10]
bowlers_name

['Trent Boult',
 'Mujeeb Ur Rahman',
 'Chris Woakes',
 'Mehedi Hasan',
 'Matt Henry',
 'Jasprit Bumrah',
 'Josh Hazlewood',
 'Shakib Al Hasan',
 'Kagiso Rabada',
 'Pat Cummins']

In [245]:
len(bowlers_name )

10

In [248]:
#Scrape team name
team_1 = soup.find_all("div",class_="rankings-block__banner--nationality")  # first place bowler team name

team_name = []   #empty list
for i in team_1:
    team_name.append(i.text.replace("\n",""))

other_teams = soup.find_all("span",class_="table-body__logo-text")   # other bowlers team name

for i in other_teams:
    team_name.append(i.text)
team_name = team_name[:10]
team_name

['NZ', 'AFG', 'ENG', 'BAN', 'NZ', 'IND', 'AUS', 'BAN', 'SA', 'AUS']

In [249]:
len(team_name)

10

In [251]:
# Scrape ratings
rating_1 = soup.find_all("div",class_="rankings-block__banner--rating")   # first place bowler ratings

ratings = []   #empty list
for i in rating_1:
    ratings.append(i.text)
ratings

others_ratings = soup.find_all("td",class_="table-body__cell rating")   # other bowlers ratings

for i in others_ratings:
    ratings.append(i.text)
ratings = ratings[:10]
ratings

['737', '708', '700', '692', '691', '683', '660', '650', '648', '646']

In [252]:
len(ratings)

10

In [253]:
print(len(bowlers_name),len(team_name),len(ratings))

10 10 10

### Storing the scraped data

In [257]:
# Make data frame of top 10 ODI bowlers
odi_bowlers=pd.DataFrame({})
odi_bowlers['Bowler']=bowlers_name
odi_bowlers['Team']=team_name
odi_bowlers['Rating']=ratings
odi_bowlers[:10]

             Bowler Team Rating
0       Trent Boult   NZ    737
1  Mujeeb Ur Rahman  AFG    708
2      Chris Woakes  ENG    700
3      Mehedi Hasan  BAN    692
4        Matt Henry   NZ    691
5    Jasprit Bumrah  IND    683
6    Josh Hazlewood  AUS    660
7   Shakib Al Hasan  BAN    650
8     Kagiso Rabada   SA    648
9       Pat Cummins  AUS    646

In [256]:
len(odi_bowlers)

10

### Q6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
### i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [ ]:
#send get request to the webpage server to get the source code of the page
page8 = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
page8

In [283]:
# see content in page
soup = BeautifulSoup(page8.content)
soup =  BeautifulSoup(page8.text,'html.parser')

In [284]:
# Scrape team names
women_team = soup.find_all("span",class_="u-hide-phablet")

women_team_name = []
for i in women_team:
    women_team_name.append(i.text.replace('\n',''))
women_team_name = women_team_name[:10]
women_team_name

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland']

In [285]:
len(women_team_name)

10

In [286]:
women_matches = [] #empty list
women_points = [] #empty list
women_ratings = [] #empty list
women_new_list = [] #empty list

In [287]:
#Scrape matches
match_1 = soup.find_all("td",class_="rankings-block__banner--matches")   # first place team number of matches

women_matches = [] #empty list
for i in match_1:
    women_matches.append(i.text)

other_matches = soup.find_all("td",class_="table-body__cell u-center-text")  # other teams matches

women_new_list = []  #empty list
for i in other_matches:
    women_new_list.append(i.text)

for i in range(0,len(women_new_list),2):
    women_matches.append(women_new_list[i])
women_matches = women_matches[:10]
women_matches

['18', '20', '24', '23', '21', '17', '20', '5', '11', '2']

In [288]:
len(women_matches)

10

In [289]:
#Scrape women points
point_1 = soup.find_all("td",class_="rankings-block__banner--points")  # first place team points

women_points = [] #empty list
for i in point_1:
    women_points.append(i.text)

women_new_list = []  #emptty list
others_points = soup.find_all("td",class_="table-body__cell u-center-text")  # other team points

for i in others_points:
    women_new_list.append(i.text)  

for i in range(0,len(women_new_list),2):
    women_points.append(women_new_list[i+1])
women_points = women_points[:10]
women_points

['2,955',
 '2,370',
 '2,828',
 '2,535',
 '1,947',
 '1,427',
 '1,496',
 '306',
 '519',
 '25']

In [290]:
len(women_points)

10

In [297]:
#Scrape ratings
ratings_1 = soup.find_all("td",class_="rankings-block__banner--rating u-text-right")   #first place team ratings

women_ratings = [] #empty list
for i in ratings_1:
    women_ratings.append(i.text.replace("\n","").strip())

others_ratings = soup.find_all("td",class_="table-body__cell u-text-right rating")   #other teams ratings
    
for i in others_ratings:
    women_ratings.append(i.text)
women_ratings= women_ratings[:10]
women_ratings

['164', '119', '118', '110', '93', '84', '75', '61', '47', '13']

In [298]:
len(women_ratings)

10

In [299]:
print(len(women_matches),len(women_points),len(women_ratings))

10 10 10

### Storing the scraped data

In [300]:
# Make data frame of top 10 women ODI teams
women_odi=pd.DataFrame({})
women_odi['Team_name']=women_team_name
women_odi['Matches']=women_matches
women_odi['Points']=women_points
women_odi['Ratings']=women_ratings
women_odi[:10]

      Team_name Matches Points Ratings
0     Australia      18  2,955     164
1       England      20  2,370     119
2  South Africa      24  2,828     118
3         India      23  2,535     110
4   New Zealand      21  1,947      93
5   West Indies      17  1,427      84
6      Pakistan      20  1,496      75
7    Bangladesh       5    306      61
8     Sri Lanka      11    519      47
9       Ireland       2     25      13

In [316]:
len(women_odi)

10

### ii) Top 10 women’s ODI players along with the records of their team and rating.

In [301]:
#send get request to the webpage server to get the source code of the page
page9 = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
page9

In [302]:
# see content in page
soup = BeautifulSoup(page9.content)
soup =  BeautifulSoup(page9.text,'html.parser')

In [ ]:
women_players_name = [] #empty list
women_team_name = [] #empty list
women_rating = [] #empty list

In [303]:
#Scrape players
player_1 = soup.find_all("div",class_="rankings-block__banner--name-large")  #first place player name

women_players_name = [] #empty list
for i in player_1:
    women_players_name.append(i.text)

other_players = soup.find_all("td",class_="table-body__cell rankings-table__name name")  # other players

for i in other_players:
    for j in i.find_all("a"):
        women_players_name.append(j.text)
women_players_name = women_players_name[:10]
women_players_name

['Mithali Raj',
 'Lizelle Lee',
 'Alyssa Healy',
 'Tammy Beaumont',
 'Stafanie Taylor',
 'Meg Lanning',
 'Amy Satterthwaite',
 'Natalie Sciver',
 'Smriti Mandhana',
 'Laura Wolvaardt']

In [304]:
len(women_players_name)

10

In [307]:
# Scrape team name
team_1 = soup.find_all("div",class_="rankings-block__banner--nationality")   #first place team name

women_team_name = []  #empty list
for i in team_1:
    women_team_name.append(i.text.replace("\n",""))

other_teams = soup.find_all("span",class_="table-body__logo-text")  # other teams name

for i in other_teams:
    women_team_name.append(i.text)
women_team_name = women_team_name[:10]
women_team_name

['IND', 'SA', 'AUS', 'ENG', 'WI', 'AUS', 'NZ', 'ENG', 'IND', 'SA']

In [308]:
len(women_team_name)

10

In [309]:
# Scrape ratings
rating_1 = soup.find_all("div",class_="rankings-block__banner--rating")    #first place player ratings

women_rating = []  #empty list
for i in rating_1:
    women_rating.append(i.text)

others_ratings = soup.find_all("td",class_="table-body__cell rating")      #other players ratings

for i in others_ratings:
    women_rating.append(i.text)
women_rating = women_rating[:10]
women_rating

['762', '758', '756', '754', '736', '723', '715', '706', '701', '683']

In [310]:
len(women_rating)

10

In [312]:
print(len(women_players_name),len(women_team_name),len(women_rating))

10 10 10

### Storing the scrapped data

In [314]:
# Make data frame of top 10 Women's ODI Batting Rankings
women_top_players=pd.DataFrame({})
women_top_players['Player']=women_players_name
women_top_players['Team']=women_team_name
women_top_players['Rating']=women_rating
women_top_players[:10]

              Player Team Rating
0        Mithali Raj  IND    762
1        Lizelle Lee   SA    758
2       Alyssa Healy  AUS    756
3     Tammy Beaumont  ENG    754
4    Stafanie Taylor   WI    736
5        Meg Lanning  AUS    723
6  Amy Satterthwaite   NZ    715
7     Natalie Sciver  ENG    706
8    Smriti Mandhana  IND    701
9    Laura Wolvaardt   SA    683

In [315]:
len(women_top_players)

10

### iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [317]:
#send get request to the webpage server to get the source code of the page
page10 = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
page10

In [318]:
# see content in page
soup = BeautifulSoup(page10.content)
soup =  BeautifulSoup(page10.text,'html.parser')

In [319]:
women_all_rounders = [] #empty list
women_team_name = [] #empty list  
women_rating = [] #empty list

In [320]:
#Scrape top 10 all-rounders name
all_rounder_1 = soup.find_all("div",class_="rankings-block__banner--name-large")   #first place all-rounder name

women_all_rounders = []   #empty list
for i in all_rounder_1:
    women_all_rounders.append(i.text)

other_all_rounders = soup.find_all("td",class_="table-body__cell rankings-table__name name")   #other all-rounders name

for i in other_all_rounders:
    for j in i.find_all("a"):
        women_all_rounders.append(j.text)
women_all_rounders = women_all_rounders[:10]
women_all_rounders

['Marizanne Kapp',
 'Ellyse Perry',
 'Stafanie Taylor',
 'Natalie Sciver',
 'Deepti Sharma',
 'Jess Jonassen',
 'Ashleigh Gardner',
 'Dane van Niekerk',
 'Sophie Devine',
 'Katherine Brunt']

In [321]:
len(women_all_rounders)

10

In [322]:
#Scrape team name
team_1 = soup.find_all("div",class_="rankings-block__banner--nationality")  # first place all-rounder team name

women_team_name = []   #empty list
for i in team_1:
    women_team_name.append(i.text.replace("\n",""))

other_teams = soup.find_all("span",class_="table-body__logo-text")   # other all-rounders team name

for i in other_teams:
    women_team_name.append(i.text)
women_team_name = women_team_name[:10]
women_team_name

['SA', 'AUS', 'WI', 'ENG', 'IND', 'AUS', 'AUS', 'SA', 'NZ', 'ENG']

In [323]:
len(women_team_name)

10

In [324]:
# Scrape ratings
rating_1 = soup.find_all("div",class_="rankings-block__banner--rating")   # first place bowler ratings

women_ratings = []   #empty list
for i in rating_1:
    women_ratings.append(i.text)

others_ratings = soup.find_all("td",class_="table-body__cell rating")   # other bowlers ratings

for i in others_ratings:
    women_ratings.append(i.text)
women_ratings = women_ratings[:10]
women_ratings

['418', '418', '394', '365', '331', '307', '252', '243', '242', '239']

In [325]:
len(women_ratings)

10

In [326]:
print(len(women_all_rounders),len(women_team_name),len(women_ratings))

10 10 10

### Store the scraped data

In [328]:
# Make data frame of top 10 Women's ODI All-Rounder Rankings
all_rounder=pd.DataFrame({})
all_rounder['Players']=women_all_rounders
all_rounder['Team']=women_team_name
all_rounder['Rating']=women_ratings
all_rounder[:10]

            Players Team Rating
0    Marizanne Kapp   SA    418
1      Ellyse Perry  AUS    418
2   Stafanie Taylor   WI    394
3    Natalie Sciver  ENG    365
4     Deepti Sharma  IND    331
5     Jess Jonassen  AUS    307
6  Ashleigh Gardner  AUS    252
7  Dane van Niekerk   SA    243
8     Sophie Devine   NZ    242
9   Katherine Brunt  ENG    239

In [329]:
len(all_rounder)

10

### Q7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating

In [175]:
page = requests.get("https://www.amazon.in/s?k=Mobile+phones+under+20000&ref=nb_sb_noss_2")
page

In [188]:
# see content in page
soup = BeautifulSoup(page.content)
soup =  BeautifulSoup(page.text,'html.parser')

In [256]:
product_name = []  #empty list
product_price = []    #empty list
image_url = []   #empty list
product_rating = []   #empty list

In [277]:
# Scrape product name
name = soup.find_all("span",class_="a-size-medium a-color-base a-text-normal")
for i in name:
    product_name.append(i.text)

# Scrape product price
price = soup.find_all("span",class_="a-price-whole")
for i in price:
    product_price.append(i.text)

# Scrape images url
image = soup.find_all("img",class_="s-image")
for i in image:
    image_url.append(i.get("src"))


# Scrape product ratings
rating = soup.find_all("i",class_="a-icon a-icon-star-small a-star-small-4 aok-align-bottom")
for i in rating:
    product_rating.append(i.text)
    
# Make data frame of mobile phones under Rs. 20,000 listed on Amazon.in
mobile_phones=pd.DataFrame({})
mobile_phones['product_name']=product_name[:16]
mobile_phones['price']=product_price[:16]
mobile_phones['Image_url'] =image_url[:16]
mobile_phones['Rating']=product_rating[:16]

mobile_phones

,product_name,price,Image_url,Rating
0,"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...","6,999",https://m.media-amazon.com/images/I/71sxlhYhKW...,4.2 out of 5 stars
1,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage) | 2....","8,999",https://m.media-amazon.com/images/I/71A9Vo1Bat...,4.2 out of 5 stars
2,"Oppo A31 (Fantasy White, 6GB RAM, 128GB Storag...","9,999",https://m.media-amazon.com/images/I/61CnyJ-IbM...,4.2 out of 5 stars
3,"Samsung Galaxy M11 (Black, 4GB RAM, 64GB Stora...","11,499",https://m.media-amazon.com/images/I/710jkZNub3...,4.1 out of 5 stars
4,"Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storag...","8,999",https://m.media-amazon.com/images/I/71X5I1cVfb...,4.3 out of 5 stars
5,"Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) ...","12,999",https://m.media-amazon.com/images/I/716nHhG9SW...,4.2 out of 5 stars
6,"Samsung Galaxy M31s (Mirage Blue, 6GB RAM, 128...","12,490",https://m.media-amazon.com/images/I/61d-phh4Gf...,4.3 out of 5 stars
7,"OPPO A31 (Mystery Black, 4GB RAM, 64GB Storage...","10,999",https://m.media-amazon.com/images/I/71KCwNV6Mu...,4.2 out of 5 stars
8,"Redmi Note 10 (Frost White, 4GB RAM, 64GB Stor...","12,999",https://m.media-amazon.com/images/I/71SSmaLA7x...,4.1 out of 5 stars
9,"Oppo A31 (Mystery Black, 6GB RAM, 128GB Storag...","6,999",https://m.media-amazon.com/images/I/71KCwNV6Mu...,4.2 out of 5 stars
10,"Samsung Galaxy M12 (Black,4GB RAM, 64GB Storag...","13,499",https://m.media-amazon.com/images/I/714QWDxXgN...,4.1 out of 5 stars
11,"Redmi Note 10 (Shadow Black, 4GB RAM, 64GB Sto...","14,999",https://m.media-amazon.com/images/I/71QY6JV6Fh...,4.1 out of 5 stars
12,Redmi 9A (Midnight Black 2GB RAM 32GB Storage)...,"13,499",https://m.media-amazon.com/images/I/71sxlhYhKW...,4.2 out of 5 stars
13,"Samsung Galaxy M12 (Black,6GB RAM, 128GB Stora...","6,999",https://m.media-amazon.com/images/I/714QWDxXgN...,4.1 out of 5 stars
14,"Redmi Note 10S (Frost White, 6GB RAM, 64GB Sto...","8,999",https://m.media-amazon.com/images/I/71BiT9Cqz+...,4.0 out of 5 stars
15,"Samsung Galaxy M12 (Blue,6GB RAM, 128GB Storag...","9,999",https://m.media-amazon.com/images/I/71yYaNztZ0...,4.1 out of 5 stars

In [263]:
len(mobile_phones)

16

### Q8. Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [11]:
#send get request to the webpage server to get the source code of the page
page = requests.get("https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YQD0944zZPY")
page

In [12]:
# see content in page
soup = BeautifulSoup(page.content)
soup =  BeautifulSoup(page.text,'html.parser')

In [13]:
period = []      #empty list
short_desc = []   #empty list
temperature = []   #empty list
description = []    #empty list

In [20]:
#Scrape period
prd = soup.find_all("p", class_="period-name")

period = []      #empty list
for i in prd:
    period.append(i.text)
period

['Tonight',
 'Wednesday',
 'WednesdayNight',
 'Thursday',
 'ThursdayNight',
 'Friday',
 'FridayNight',
 'Saturday',
 'SaturdayNight']

In [21]:
len(period)

9

In [26]:
#Scrape short description
short_description = soup.find_all('p',class_="short-desc")

short_desc = [] #empty list
for i in short_description:
    short_desc.append(i.text)
short_desc

['Partly Cloudy',
 'Mostly Sunnythen MostlySunny andBreezy',
 'Partly Cloudyand Breezythen MostlyCloudy',
 'Partly Sunnythen Sunnyand Breezy',
 'Mostly Clearand Breezythen PartlyCloudy',
 'Mostly Sunnythen Sunnyand Breezy',
 'Partly Cloudyand Breezythen MostlyCloudy',
 'Partly Sunny',
 'Mostly Cloudy']

In [27]:
len(short_description)

9

In [28]:
# Scrape temperature
temp = soup.find_all('p',attrs={'short-desc'})

temperature = []  #empty list
for i in temp:
    if i.next_sibling is not None:
        temperature.append(i.next_sibling.text)
    else:
        temperature.append(' ')
temperature

['Low: 56 °F',
 'High: 71 °F',
 'Low: 57 °F',
 'High: 70 °F',
 'Low: 56 °F',
 'High: 70 °F',
 'Low: 56 °F',
 'High: 67 °F',
 'Low: 56 °F']

In [29]:
len(temperature)

9

In [32]:
#Scrape description
desc = soup.find_all("div",class_="col-sm-10 forecast-text")

description = []  #empty list
for i in desc:
    description.append(i.text)
description = description[:9]
description

['Partly cloudy, with a low around 56. West southwest wind 13 to 18 mph, with gusts as high as 24 mph. ',
 'Mostly sunny, with a high near 71. Breezy, with a west southwest wind 11 to 16 mph increasing to 19 to 24 mph in the afternoon. Winds could gust as high as 31 mph. ',
 'Mostly cloudy, with a low around 57. Breezy, with a west southwest wind 20 to 25 mph decreasing to 14 to 19 mph after midnight. Winds could gust as high as 33 mph. ',
 'Mostly cloudy, then gradually becoming sunny, with a high near 70. Breezy, with a west southwest wind 11 to 16 mph increasing to 18 to 23 mph in the afternoon. Winds could gust as high as 30 mph. ',
 'Partly cloudy, with a low around 56. Breezy, with a west southwest wind 14 to 23 mph, with gusts as high as 31 mph. ',
 'Mostly sunny, with a high near 70. Breezy. ',
 'Mostly cloudy, with a low around 56. Breezy. ',
 'Partly sunny, with a high near 67.',
 'Mostly cloudy, with a low around 56.']

In [33]:
len(description)

9

### Storing the scraped data

In [35]:
# Make data frame
san_francisco_weather=pd.DataFrame({})
san_francisco_weather['Period']=period
san_francisco_weather['Temperature']=temperature
san_francisco_weather['Short_description']=short_desc
san_francisco_weather['Description']=description
san_francisco_weather[:9]

,Period,Temperature,Short_description,Description
0,Tonight,Low: 56 °F,Partly Cloudy,"Partly cloudy, with a low around 56. West sout..."
1,Wednesday,High: 71 °F,Mostly Sunnythen MostlySunny andBreezy,"Mostly sunny, with a high near 71. Breezy, wit..."
2,WednesdayNight,Low: 57 °F,Partly Cloudyand Breezythen MostlyCloudy,"Mostly cloudy, with a low around 57. Breezy, w..."
3,Thursday,High: 70 °F,Partly Sunnythen Sunnyand Breezy,"Mostly cloudy, then gradually becoming sunny, ..."
4,ThursdayNight,Low: 56 °F,Mostly Clearand Breezythen PartlyCloudy,"Partly cloudy, with a low around 56. Breezy, w..."
5,Friday,High: 70 °F,Mostly Sunnythen Sunnyand Breezy,"Mostly sunny, with a high near 70. Breezy."
6,FridayNight,Low: 56 °F,Partly Cloudyand Breezythen MostlyCloudy,"Mostly cloudy, with a low around 56. Breezy."
7,Saturday,High: 67 °F,Partly Sunny,"Partly sunny, with a high near 67."
8,SaturdayNight,Low: 56 °F,Mostly Cloudy,"Mostly cloudy, with a low around 56."

In [37]:
len(san_francisco_weather)

9

### Q9.Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company name, CTC, and apply date

In [38]:
#send get request to the webpage server to get the source code of the page
page = requests.get("https://internshala.com/fresher-jobs")
page

In [39]:
# see content in page
soup = BeautifulSoup(page.content)
soup =  BeautifulSoup(page.text,'html.parser')

In [40]:
job_titles = []  #empty list
company_names = []   #empty list
CTC = []   #empty list
apply_date = []    #empty list

In [41]:
titles=soup.find_all('div',class_="heading_4_5 profile") 

job_titles=[] # empty list
for i in titles:
    job_titles.append(i.text.replace('\n',''))
job_titles

['Sales Manager/Omni Sport Leader - Retail ',
 'Data Analyst ',
 'Software Tester ',
 'Business Development Executive ',
 'MERN Stack Developer ',
 'Conversion Rate Optimization Analyst ',
 'Client Service Executive ',
 'Sales Development Representative ',
 'Corporate Sales Associate ',
 'International Business Development Executive ',
 'Product Marketer ',
 'Customer Support Associates ',
 'Content & Customer Care Executive ',
 'Django Developer ',
 'Reactjs Developer ',
 'Web Development Trainee ',
 'Business Development Executive ',
 'Cybersecurity Compliance Officer ',
 'MERN Stack Developer ',
 'Senior Copywriter ',
 'Corporate Sales Associate ',
 'Digital Marketing Associate ',
 'Social Media Marketing Executive ',
 'Business Development Executive ',
 'Operations Manager ',
 'Lead Counselor ',
 'Angular.js Developer ',
 'Digital Marketing Specialist ',
 'Franchise Manager - Sales (Assistant Manager ) ',
 'Graphic Designer ',
 'Project Associate ',
 'Business Development Manager ',
 'Associate Recruiter ',
 'Inside Sales Specialist ',
 'QA Tester ',
 'Social Media Marketing Specialist ',
 'Sales Executive ',
 'Data & BI Consultant ',
 'Full Stack Developer ',
 'Business Development Executive ']

In [42]:
len(job_titles)

40

In [43]:
#scrape company names    
companies=soup.find_all('a',class_="link_display_like_text")

company_names = []  # empty list
for i in companies:
    company_names.append(i.text.strip())
company_names

['Decathlon Sport India Private Limited',
 'Anudeep Nekkanti',
 'Startxlabs Technologies Private Limited',
 'Padhhigh',
 'Snippt',
 'DataVinci Private Limited',
 'Red Tree Design Studio Private Limited',
 'HelloAR',
 'Best Roadways Limited',
 'Advids',
 'Habitate Technologies Private Limited',
 'Recruit CRM',
 'Revo International LLP',
 'Startxlabs Technologies Private Limited',
 'Startxlabs Technologies Private Limited',
 'Softsensor.ai',
 'Verzeo',
 'S3 Infosoft',
 'Binary Numbers',
 'Ranksoldier International Private Limited',
 'MiM-Essay',
 'BubbleNut Wash',
 'Erikka India',
 'Cosmic Micro Systems Private Limited',
 'Kumi Labs',
 'HOSS - House Of Soft Skills',
 'Systaldyn Consultancy Private Limited',
 'Sahadya Consultants',
 'Regrob',
 'Cynfas',
 'StrategyCo.Global',
 'Narsipur Chemicals Private Limited',
 'Talhive',
 'UniHyr',
 'RavGins International Private Limited (Wobb.ai)',
 'Zolve',
 'Apt Medical Systems Private Limited',
 'CloudGarage',
 'PeakMind',
 'Cafe Tatva Ventures LLP']

In [46]:
len(company_names)

40

In [50]:
# scrape CTC
info = soup.find_all("div",class_="item_body")

job_info = []
for i in info:
    job_info.append(i.text.replace("\n","").replace("\xa0",""))

CTC = []  #empty list
for i in range(1,len(job_info),3):
    CTC.append(job_info[i].strip())

CTC

['3.3 - 4.5 LPA',
 '6 - 10 LPA',
 '3 - 3.6 LPA',
 '4 - 7 LPA',
 '4 - 5 LPA',
 '5 LPA',
 '3 LPA',
 '3 - 3.2 LPA',
 '3 LPA',
 '3 - 4 LPA',
 '3.2 - 4.2 LPA',
 '5 - 7 LPA',
 '3 - 3.05 LPA',
 '3.5 - 7.5 LPA',
 '3.5 - 7.5 LPA',
 '3 - 5 LPA',
 '3 - 6 LPA',
 '3 - 3.6 LPA',
 '3 - 7 LPA',
 '3 LPA',
 '4.5 - 6 LPA',
 '3.6 - 5.4 LPA',
 '3 - 5 LPA',
 '3 - 4.8 LPA',
 '3 - 8 LPA',
 '3.8 - 4.5 LPA',
 '3 - 5 LPA',
 '3 - 3.5 LPA',
 '3 - 3.1 LPA',
 '3 LPA',
 '7 - 12 LPA',
 '5 - 7 LPA',
 '3 - 5 LPA',
 '5 LPA',
 '3 - 4 LPA',
 '3 - 8 LPA',
 '3 LPA',
 '3 LPA',
 '6 - 8 LPA',
 '3 - 5.5 LPA']

In [51]:
len(CTC)

40

In [52]:
# Scrape allpy date
app_date = soup.find_all("div",class_="item_body")
apply_date = []  # empty list
for i in range(2,len(job_info),3):
    apply_date.append(job_info[i].strip())
apply_date

["21 Aug' 21",
 "27 Aug' 21",
 "27 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "26 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "25 Aug' 21",
 "23 Aug' 21",
 "23 Aug' 21",
 "25 Aug' 21",
 "23 Aug' 21",
 "23 Aug' 21",
 "22 Aug' 21",
 "25 Aug' 21",
 "22 Aug' 21",
 "22 Aug' 21",
 "22 Aug' 21",
 "22 Aug' 21",
 "22 Aug' 21",
 "21 Aug' 21",
 "21 Aug' 21",
 "21 Aug' 21",
 "21 Aug' 21",
 "21 Aug' 21",
 "21 Aug' 21",
 "21 Aug' 21",
 "21 Aug' 21",
 "21 Aug' 21",
 "21 Aug' 21"]

In [53]:
len(apply_date)

40

In [54]:
print(len(job_titles),len(company_names),len(CTC),len(apply_date))

40 40 40 40

### Storing the scraped data

In [55]:
# Make data frame
Freshers_job=pd.DataFrame({})
Freshers_job['Job_Titles']=job_titles
Freshers_job['Company_Names']=company_names
Freshers_job['CTC']=CTC
Freshers_job['Apply_Date']=apply_date
Freshers_job

,Job_Titles,Company_Names,CTC,Apply_Date
0,Sales Manager/Omni Sport Leader - Retail,Decathlon Sport India Private Limited,3.3 - 4.5 LPA,21 Aug' 21
1,Data Analyst,Anudeep Nekkanti,6 - 10 LPA,27 Aug' 21
2,Software Tester,Startxlabs Technologies Private Limited,3 - 3.6 LPA,27 Aug' 21
3,Business Development Executive,Padhhigh,4 - 7 LPA,26 Aug' 21
4,MERN Stack Developer,Snippt,4 - 5 LPA,26 Aug' 21
5,Conversion Rate Optimization Analyst,DataVinci Private Limited,5 LPA,26 Aug' 21
6,Client Service Executive,Red Tree Design Studio Private Limited,3 LPA,26 Aug' 21
7,Sales Development Representative,HelloAR,3 - 3.2 LPA,26 Aug' 21
8,Corporate Sales Associate,Best Roadways Limited,3 LPA,26 Aug' 21
9,International Business Development Executive,Advids,3 - 4 LPA,26 Aug' 21
10,Product Marketer,Habitate Technologies Private Limited,3.2 - 4.2 LPA,25 Aug' 21
11,Customer Support Associates,Recruit CRM,5 - 7 LPA,25 Aug' 21
12,Content & Customer Care Executive,Revo International LLP,3 - 3.05 LPA,25 Aug' 21
13,Django Developer,Startxlabs Technologies Private Limited,3.5 - 7.5 LPA,25 Aug' 21
14,Reactjs Developer,Startxlabs Technologies Private Limited,3.5 - 7.5 LPA,25 Aug' 21
15,Web Development Trainee,Softsensor.ai,3 - 5 LPA,25 Aug' 21
16,Business Development Executive,Verzeo,3 - 6 LPA,25 Aug' 21
17,Cybersecurity Compliance Officer,S3 Infosoft,3 - 3.6 LPA,25 Aug' 21
18,MERN Stack Developer,Binary Numbers,3 - 7 LPA,23 Aug' 21
19,Senior Copywriter,Ranksoldier International Private Limited,3 LPA,23 Aug' 21
20,Corporate Sales Associate,MiM-Essay,4.5 - 6 LPA,25 Aug' 21
21,Digital Marketing Associate,BubbleNut Wash,3.6 - 5.4 LPA,23 Aug' 21
22,Social Media Marketing Executive,Erikka India,3 - 5 LPA,23 Aug' 21
23,Business Development Executive,Cosmic Micro Systems Private Limited,3 - 4.8 LPA,22 Aug' 21
24,Operations Manager,Kumi Labs,3 - 8 LPA,25 Aug' 21
25,Lead Counselor,HOSS - House Of Soft Skills,3.8 - 4.5 LPA,22 Aug' 21
26,Angular.js Developer,Systaldyn Consultancy Private Limited,3 - 5 LPA,22 Aug' 21
27,Digital Marketing Specialist,Sahadya Consultants,3 - 3.5 LPA,22 Aug' 21
28,Franchise Manager - Sales (Assistant Manager ),Regrob,3 - 3.1 LPA,22 Aug' 21
29,Graphic Designer,Cynfas,3 LPA,22 Aug' 21
30,Project Associate,StrategyCo.Global,7 - 12 LPA,21 Aug' 21
31,Business Development Manager,Narsipur Chemicals Private Limited,5 - 7 LPA,21 Aug' 21
32,Associate Recruiter,Talhive,3 - 5 LPA,21 Aug' 21
33,Inside Sales Specialist,UniHyr,5 LPA,21 Aug' 21
34,QA Tester,RavGins International Private Limited (Wobb.ai),3 - 4 LPA,21 Aug' 21
35,Social Media Marketing Specialist,Zolve,3 - 8 LPA,21 Aug' 21
36,Sales Executive,Apt Medical Systems Private Limited,3 LPA,21 Aug' 21
37,Data & BI Consultant,CloudGarage,3 LPA,21 Aug' 21
38,Full Stack Developer,PeakMind,6 - 8 LPA,21 Aug' 21
39,Business Development Executive,Cafe Tatva Ventures LLP,3 - 5.5 LPA,21 Aug' 21

In [56]:
len(Freshers_job)

40

### Q10. Write a python program to scrape house details from https://www.nobroker.in/ for any location. It should include house title, location, area, emi and price

In [132]:
#send get request to the webpage server to get the source code of the page
page = requests.get("https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type=BHK4&searchParam=W3sibGF0IjoxMi44NDUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&propertyAge=0&radius=2.0")
page

In [133]:
# see content in page
soup = BeautifulSoup(page.content)
soup =  BeautifulSoup(page.text,'html.parser')

In [159]:
house_title = []  #empty list
location = []  #empty list
Area = []  #empty list
EMI = []   #empty list
price = []   #empty list


#scrape house title 
house = soup14.find_all("h2", class_="heading-6 font-semi-bold nb__1AShY")
for i in house:
    house_title.append(i.text)
    
#scrape house location     
loc = soup.find_all('div',class_="nb__2CMjv")
for i in loc:
    location.append(i.text)
    
#scrape house Area     
area = soup.find_all('div',class_="nb__3oNyC")
for i in area:
    Area.append(i.text)
    

full_info = []
detail = soup14.find_all('div',class_="font-semi-bold heading-6")
for i in detail:
    full_info.append(i.text)

#EMI
for i in range(1,len(full_info),3):
    EMI.append(full_info[i])

# price
for i in range(2,len(full_info),3):
    price.append(full_info[i])

In [160]:
house_title

['4 BHK For Sale  In Gpr Royale In Gpr Royale ',
 '4 BHK Flat  For Sale  In Electronic City ',
 '4 BHK Flat  For Sale  In Sobha Silicon Oasis  In Hosa Road ',
 '4 BHK In Independent House  For Sale  In Sarjapura ',
 '4 BHK In Independent House  For Sale  In Naganathapura ',
 '4 BHK For Sale  In Daadys Garden In Electronic City ',
 '4 BHK For Sale  In Deccan Palms Park In Electronic City ',
 '4 BHK In Independent House  For Sale  In Parappana Agrahara ',
 '4 BHK In Independent House  For Sale  In Electronic City,  ',
 '4 BHK In Independent House  For Sale  In Electronic City Phase Ii ']

In [161]:
len(house_title)

10

In [162]:
location

['6th Cross',
 'Standalone Building, Shikaripalya near Shams School',
 'Sobha Silicon Oasis Naganathapura, Rayasandra Bengaluru, Karnataka 560100 India',
 'Independent House,  Shantipura Village , S.P Layout , near  Shantipura Panchayat Office',
 'Independent House, Doddanagamangala Rd opposite Sobha Silicon Oasis',
 'Daadys GardenÂ\xa0 Kammasandra Rd, Kammasandra, Electronic City, Bengaluru, Karnataka 560100, India',
 'Deccan Palms ParkÂ\xa0 Deccan Palms Villas, Deccan Palms Road, Shree Ananth Nagar Layout, Glass Factory Layout, Electronic City, Bengaluru, Karnataka 560100, India',
 'Independent House, Hosur Road CK Nagar near Shri Shakthi Mariyamma Temple',
 'Independent House,  Krishna reddy layout-Near Maruti Suzuki ARENA (Surakshaa Car Care, Bengaluru, Electronic City)',
 'Independent House, Industrial Area Near Tech Mahindra']

In [163]:
len(location)

10

In [164]:
Area

['3,100 sqft',
 '1,400 sqft',
 '1,879 sqft',
 '1,100 sqft',
 '1,500 sqft',
 '2,600 sqft',
 '3,000 sqft',
 '1,000 sqft',
 '2,500 sqft',
 '1,500 sqft']

In [165]:
len(Area)

10

In [166]:
EMI

['₹85,971/Month',
 '₹20,060/Month',
 '₹85,971/Month',
 '₹40,120/Month',
 '₹45,851/Month',
 '₹85,971/Month',
 '₹85,971/Month',
 '₹37,254/Month',
 '₹1.43 Lacs/Month',
 '₹57,314/Month']

In [167]:
len(EMI)

10

In [168]:
price

['₹1.5 Crores',
 '₹35 Lacs',
 '₹1.5 Crores',
 '₹70 Lacs',
 '₹80 Lacs',
 '₹1.5 Crores',
 '₹1.5 Crores',
 '₹65 Lacs',
 '₹2.5 Crores',
 '₹1 Crore']

In [169]:
len(price)

10

In [130]:
print(len(house_title),len(location),len(Area),len(EMI),len(price))

10 10 10 10 10

### Storing the scraped data

In [170]:
# Make data frame
house_details=pd.DataFrame({})
house_details['House']=house_title
house_details['Area']=Area
house_details['location']=location
house_details['EMI']=EMI
house_details['price']=price
house_details

,House,Area,location,EMI,price
0,4 BHK For Sale In Gpr Royale In Gpr Royale,"3,100 sqft",6th Cross,"₹85,971/Month",₹1.5 Crores
1,4 BHK Flat For Sale In Electronic City,"1,400 sqft","Standalone Building, Shikaripalya near Shams S...","₹20,060/Month",₹35 Lacs
2,4 BHK Flat For Sale In Sobha Silicon Oasis ...,"1,879 sqft","Sobha Silicon Oasis Naganathapura, Rayasandra ...","₹85,971/Month",₹1.5 Crores
3,4 BHK In Independent House For Sale In Sarja...,"1,100 sqft","Independent House, Shantipura Village , S.P L...","₹40,120/Month",₹70 Lacs
4,4 BHK In Independent House For Sale In Nagan...,"1,500 sqft","Independent House, Doddanagamangala Rd opposit...","₹45,851/Month",₹80 Lacs
5,4 BHK For Sale In Daadys Garden In Electronic...,"2,600 sqft","Daadys GardenÂ Kammasandra Rd, Kammasandra, E...","₹85,971/Month",₹1.5 Crores
6,4 BHK For Sale In Deccan Palms Park In Electr...,"3,000 sqft","Deccan Palms ParkÂ Deccan Palms Villas, Decca...","₹85,971/Month",₹1.5 Crores
7,4 BHK In Independent House For Sale In Parap...,"1,000 sqft","Independent House, Hosur Road CK Nagar near Sh...","₹37,254/Month",₹65 Lacs
8,4 BHK In Independent House For Sale In Elect...,"2,500 sqft","Independent House, Krishna reddy layout-Near ...",₹1.43 Lacs/Month,₹2.5 Crores
9,4 BHK In Independent House For Sale In Elect...,"1,500 sqft","Independent House, Industrial Area Near Tech M...","₹57,314/Month",₹1 Crore

In [275]:
len(house_details)

10